<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Public/css/style-dfs-business.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <title>inventory</title>
  </head>
  <body>
    <div id="app" class="inventory-container">
      <section class="banner-content">
        <img class="logo" src="/Public/img/DFS_LOGO_LRG.png" alt="">
        <img @click="logout" class="logout-icon" src="/Public/img/power-circular-button.png" alt="">
      </section>
      <section class="table-content">
        <table class="table">
          <tr>
            <th>Item</th>
            <th>Max</th>
            <th>Ordered</th>
            <th>Picked-Up</th>
            <th>Stock</th>
          </tr>
          <tr v-for="item in lists">
            <td>{{item.item}}</td>
            <td>{{item.max}}</td>
            <td>{{item.ordered}}</td>
            <td>{{item.pickedup}}</td>
            <td>{{item.stock}}</td>
          </tr>
        </table>
      </section>
      <footer class="tab-bar">
        <span @click="routerGoList" class="tab-item">List</span>
        <span @click="routerGoInventory" class="tab-item active">Inventory</span>
        <span @click="routerGoFAQs" class="tab-item">FAQs</span>
      </footer>
    </div>
  </body>
  <script src="/Public/js/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  var domain = 'https://15580083.qcloud.la/';
  var vm = new Vue({
    el: '#app',
    data: function() {
      return {
        lists: []
      }
    },
    mounted: function() {
      this.getInventory()
    },
    methods: {
      getInventory() {
        var _this = this
        axios.get(domain + 'Home/shop/inventory_list')
          .then(function (response) {
            console.log(response.data.list);
            _this.lists = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      logout() {
        axios.get(domain + 'Home/shop/logout')
          .then(function (response) {
            window.location.href = 'login.html'
          })
          .catch(function (response) {

          })
      },
      routerGoList() {
        window.location.href = 'list.html'
      },
      routerGoInventory() {
        window.location.href = 'inventory.html'
      },
      routerGoFAQs() {
        window.location.href = 'FAQs.html'
      },
    }
  })
  </script>
</html>
